<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Krishna Regmi</title>
    {% load staticfiles %}

    <!--
    Color Theme
    Pink #C25079
    Green #8D9E38
    Yellow #F8B923
    Dark/Black #241C23
    Maroon #933E31

    -->
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'krishnaregmi_me/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'krishnaregmi_me/css/scrolling-nav.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .navbar-default{
            background-color: #8D9E38;
        }
        .navbar-default .navbar-brand{
            color: #FFF;
        }

        .intro-section{
            background-color: #933E31;
        }
        .profile-pic{
            width: 200px;
            height: auto;
        }

        .portfolio-item{
            border: 1px solid black;
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 30px;
        }
    </style>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Krishna Regmi</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Expertise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <img src="{% static 'krishnaregmi_me/krishna.jpg' %}" alt="Cannot find the image." class="img-circle profile-pic">
                    <h3>Mechanical Engineer - Programmer - Problem Solver</h3>
                    <p>I am educated in Mechanical Engineering, but equally love programming. I am a problem solver. I love talking to people in different professions, finding what problems they have, and finding a solution to the problem.</p>
                    <p>Have a <strong>problem</strong> that can benefit from someone who has deep understanding of both <strong>software and harware</strong>? Contact me for free consulatation. I would love you help you get started.</p>
                    <a class="btn btn-default page-scroll" href="#portfolio">See my Work!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="portfolio" class="portfolio-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>My Work</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <h3><a href="https://www.exceltracker.com">Excel Tracker</a></h3>
                                <p>Accountants and CPAs spend over 30 mins per 40 hours of work tracking what stuff they worked on. Excel Tracker tracks the duratio and names of excel workbook/worksheets they worked on, and generates nice reports. It was designed to save people time and annoyance tracking causes.</p>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <h3><a href="http://www.executiveemail.co">Executive Email</a></h3>
                                <p>Executive Email automates the email proof reading for mass emails. When you want to send a mass email, you send it to executive email. Executive email will immediately send it to your executives. If any of the executive reply within a preset time (say 4 hours), the mass email won't be sent, and you will receive the corrections from executives. If none of the executives reply, the mass email will be sent out in 4 hours.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">

                                <h3><a href="http://www.merolab.com">MeroLab</a></h3>
                                <p> Large Organizations lose a lot of expertise when a lab tech or equipment tech leaves. Equipment Management allows the lab tech to enter any issues with the equipment they manage, and how they resolved the issue. It also allows a intuite search interface for all the old equipment. Equipment Management is a Enterprise focused app to help loss of knowledge about equipments </p>
                            </div>
                        </div>

                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="portfolio-item">

                                <h3>Exotic Fish Bowl</h3>
                                <p> Exotic Fish Bowl is a New Orleans based Fish Shop. The website design was done in 2014 for the owners of the Place.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">

                                <h3>Belton Spa</h3>
                                <p>Belton Spa is a Temple Austin based Spa. The website allows its contacts to send messages to the owners. Best part is - the messages are sent as texts reducing the time to reply for the clients.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <h3>Living City</h3>
                                <p>Living City was created at a Hackathon in New Orleans in 2013. It allows locals to add stories and audio tours. End users obtain content based on their GPS location.</p>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>My Expertise</h1>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <h3>Python</h3>
                            <p>I have been programming in Python since 2012. I first start writing python to write automation for a Finite Element Analysis Software. I am proficient in Python, and Web Framework Django written in Python. Most of the webapps in the portfolio section use some python on the backend.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <h3>Mechanical Design</h3>
                            <p>My daytime job is performing Finite Element Analysis. As such, I spend considerable time in analysing CAD models, and helping engineers improve the models for stress and life of the part. This can include redesign or different material selection.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <h3>Data Analysis</h3>
                            <p>One thing about being an Analyst is that I have to deal with a lot of data. Analysing data and making sense out of it takes some thinking out of the box, and some scientific thinking. I perform most data analysis using Pandas data analysis library.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Me</h1>
                    <p> Please write your message below. I will contact you soon. </p>
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your Email">
                      </div>
                      <div class="form-group">
                        <label for="messageInput">Message</label>
                        <textarea class="form-control" id="messageInput" rows="10">
                        </textarea>
                      </div>
                      
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static 'krishnaregmi_me/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'krishnaregmi_me/js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'krishnaregmi_me/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'krishnaregmi_me/js/scrolling-nav.js' %}"></script>

</body>

</html>
